* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.header,
.nav,
.main,
.aside1,
.aside2,
.footer {
  margin: 3px;
  display: flex;
}

header {
  /* display: flex; */
  height: 225px;
  width: 100%;
  background-image: url("/images/Banner.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header .header #logo {
  flex: 0 1 100px;
  background: #bc3737;
}

.fundo {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.main {
  flex: 2;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

.nav {
  flex: 1 1 100vw;
  align-items: center;
  justify-content: flex-end;
}

.nav a {
  margin: 5%;
  font-size: 20pt;
}

.parent {
  display: flex;
  height: 400px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: baseline;
  gap: 10px 30px;
}

.flex-item {
  background: #d9d9d9;
  padding: 5px;
  cursor: pointer;
  width: 400px;
  height: 100px;
  margin-top: 10px;
  line-height: bold;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-align: end;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-content: flex-end;
  display: flex;
  flex-flow: row-reverse;
}

.flex-item i,
.flex-item img {
  pointer-events: none;
}

.img {
  flex: 1;
}

.curte {
  flex: 0;
  margin: 3px;
}

.text {
  flex: 2;
  text-align: center;
}

.botao {
  margin-top: 5px;
}

.lista {
  font-size: 30pt;
}

aside {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style: none;
  cursor: pointer;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-top: 30px;
}

.filtros {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d9d9d9;
  min-width: 310px;
  min-height: 400px;
  align-items: flex-start;
  padding-left: 60px;
  font-size: large;
}

footer {
  margin-top: 30px;
  text-align: end;
  margin-right: 10px;
  padding: 3px;
  height: 100px;
}

.a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 923px) {
  main {
    height: calc(100vh - 330px);
  }

  aside {
    flex: 1 1 100vw;
    height: 100px;
  }
}

@media only screen and (max-width: 717px) {
  #openMenu,
  #closeMenu {
    display: block;
  }

  nav {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
  }
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* SIDEBAR */

.sidebar-overlay.show {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.recipe-sidebar {
  width: 40%;
  height: 100vh;
  box-shadow: 0px -6px 12px rgba(0, 0, 0, 1);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  overflow-y: scroll;
  background: ghostwhite;
  transition: all 0.4s ease-in-out;
  z-index: 20;
}

.recipe-sidebar.show {
  transform: translate(0%);
}

.recipe-sidebar_header {
  width: 100%;
  height: 250px;
  border-radius: 0px 0px 12% 12%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.recipe-sidebar_header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 0px 0px 12% 12%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.recipe-sidebar .recipe-sidebar_close {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 24px;
  cursor: pointer;
  color: #444;
  background: rgba(244, 244, 244, 0.4);
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  z-index: 21;
  backdrop-filter: blur(10px) saturate(100%);
  outline: none;
  transform: scale(1);
  box-shadow: 1px 0px 14px rgba(244, 244, 244, 0.15);
  transition: all 0.4s ease-in-out;
}

.recipe-sidebar .recipe-sidebar_close:hover {
  transform: scale(1.08);
}

.recipe-sidebar .content-wrapper .recipe-sidebar_content,
.recipe-sidebar .content-wrapper .cart-sidebar_content {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: space-evenly;
}

.recipe-sidebar .content-wrapper .cart-sidebar_content {
  padding: 20px;
}

.recipe-sidebar .content-wrapper .recipe-sidebar_content ul {
  list-style: disc;
}

@media only screen and (max-width: 850px) {
  .recipe-sidebar {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .sidebar-overlay.show {
    pointer-events: none;
  }
  .recipe-sidebar {
    width: 100%;
    pointer-events: all;
  }

  .recipe-sidebar .recipe-sidebar_close {
    left: 10px;
  }

  .recipe-sidebar .content-wrapper .recipe-sidebar_content {
    padding: 20px 10px;
  }
}

.cart-link {
  background: #ececec;
  padding: 10px 20px 10px 10px;
  border-radius: 4px;
  width: 100%;
  height: 100px;
  display: flex;
  /* cursor: pointer; */
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.152);
}

.cart-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  margin: 2rem auto 0rem;
}

.cart-link .cart-list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-link .cart-list_item a:hover {
  color: crimson;
}

.cart-link .cart-list_item img {
  height: 100%;
  width: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.cart-link .cart-list_item .cart-item_title {
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.cart-link .cart-list_item .details {
  /* justify-self: flex-end; */
  margin-left: auto;
}

.details .details_quantity {
  width: 50px;
  border: none;
  outline: none;
  text-align: center;
  margin-right: 10px;
  padding: 5px 0px;
  border-radius: 4px;
}

.details .excluir_item {
  border: none;
  outline: none;
  background: orangered;
  padding: 5px 10px;
  border-radius: 4px;
  color: #ececec;
}

i {
  pointer-events: none;
}

.cart {
  margin-right: 15px;
}

.cart-counter {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  border-radius: 4px;
  padding: 0px 5px;
}
