body{
  margin: 0;
}

header{
  display: flex;
  height: 200px;
  background-color: brown;
}

.logo{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18pt;
}

#meal-magic{
  align-self: center;
  display: flex;
  flex-direction: column;
}

#span-magic{
  padding-left: 35px;
}

.banner
{
  flex: 2;
}

.receitas{
  display: flex;
  padding: 40px;
}

.carrossel-receitas{
  background-color: black;
}

.corpo{
  height: 500px;
  display: flex;
  background-color: grey;
  padding-left: 100px;
  padding-right: 100px;
}