* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;           
  

}

.body {
  flex-wrap: wrap;
  background-color: gray;
}

.header, .nav, .main, .aside, .footer {
  background-color: gray;
  margin: 3px;
  display: flex;

}

.header {
  flex: 1 1 100vw;
  height: 100px;
  
}

.header #logo {
  flex: 0 1 200px;
  background: #BC3737;
}

#openMenu, #closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

.nav {
  flex: 1 1 100vw;
  align-items: center;
  justify-content: flex-end;
  
}

.nav a {
  margin: 5%;
  font-size: 20pt;
}

.main {
  flex: 20 1 500px;
  height: calc(100vh - 224px);
  
}

.main .section {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  background-color: gray;
  
}

.aside {
  flex: 1 1 200vw;
  
}

.footer {
  flex: 1 1 100vw;
  height: 100px;
  
}

.a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 923px) {
  main {
    height: calc(100vh - 330px);
  }

  aside {
    flex: 1 1 100vw;
    height: 100px;
  }
}

@media only screen and (max-width: 717px) {
  #openMenu, #closeMenu {
    display: block;
  }

  nav {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1.0);
  }
}

